body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #f8f0fb;
}

h1 {
  margin-top: 0;
}

h1,
h2 {
  font-family: "Inknut Antiqua", serif;
  line-height: 2rem;
}

/* Hero Section */

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url(./images/hero-mobile-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f8f0fb;
}

.subtitle {
  margin: 22px;
  font-size: 1.2rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-cta {
  background-color: #38bdf8;
  color: #f8f0fb;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 1308px;
  margin: 0 auto;
}

/* Services Section */

.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 42px 0;
}

/* Service Cards */

.card-container {
  padding: 42px 16px 16px 16px;
  border-radius: 24px;
  max-width: 388px;
  box-shadow: 0 0 6px black;
}

.card-container h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.card-description-list {
  padding-left: 0;
  list-style: none;
}

.card-description-list li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.price {
  font-size: 2rem;
  margin: 24px 0;
  display: inline-block;
}

.bold-text {
  font-weight: 700;
}

.card-btm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icons */

.check {
  text-align: left;
  color: #34d399;
  font-size: 1.2rem;
  margin-right: 14px;
}

.icon {
  font-size: 10rem;
  color: #38bdf8;
}

#icon {
  display: block;
  width: max-content;
  margin: 0 auto 42px;
}

/* buttons */

.btn {
  padding: 18px 24px;
  border-radius: 30px;
  border: none;
  background-color: #38bdf8;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.add-btn:hover,
.complete-order-btn:hover {
  cursor: pointer;
}

.complete-order-btn {
  display: block;
  width: 100%;
  margin: 42px auto 0;
}

.remove-btn {
  padding: 0;
  background-color: unset;
  border: none;
  color: darkgray;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: pointer;
}

/* order section */

.order-section {
  padding-bottom: 42px;
}

.order-section h2 {
  text-align: center;
}

.cost-right {
  float: right;
}

.total {
  border-top: 2px solid #38bdf8;
  padding-top: 24px;
}

.hidden {
  display: none;
}
